
.main-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;

    .max-width {
        display: flex;
    }

    .main-nav {
        display: flex;
        align-items: center;
        column-gap: 30px;
        margin-left: 60px;

        ul.main-menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            list-style-type: none;
            padding-left: 0;
            row-gap: 20px;
            column-gap: 30px;

            li a {
                color: black;
                text-decoration: none;
                padding-top: 30px;
            }
        }
    }

}