*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "BwNistaInt-Rg", sans-serif;    
    color: black;
}

img {
    width: 100%;
    height: auto;
}