$color-primary: #d14883;
$color-secondary: #5ad148;
$color-white: #fff;

.secondary {}

.outline {}

.primary {}


.button,
a.button {
  background-color: $color-primary;
  color: $color-white;
  border-width: 2px;
  border-style: solid;
  border-color: $color-primary;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body {
  font-family: 'Roboto', sans-serif;

  h1 {
    color: green;
    background-color: lightblue;
    border: 5px dashed black;
    margin: 30px;
    padding: 30px;
  }

  .posts-container {
    width: 50%;
    margin-right: auto;
    margin-left: auto;

    .post-wrapper {
      transition: box-shadow 0.3s;
      padding: 15px 15px 30px;

      &:hover {
        box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.1);

        .post-title {
          color: $color-primary;
          padding-left: 20px;
          padding-right: 0;
        }
      }

      .post-title {
        background-color: #f0f0f0;
        padding-right: 20px;
        transition: color 0.5s, padding-left 0.5s, padding-right 0.5s;
      }

      .image-wrapper {
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          object-position: center 25%;
        }
      }
    }

    .post-category {}

    p {
      &.post-description {
        &:first-of-type:before {
          content: '➵';
          font-size: 20px;
          color: var(--color-primary);
          margin-right: 10px;
        }

        &:last-of-type:after {
          content: '<...>';
          margin-left: 5px;
        }
      }
    }


  }


}



a.button {
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

button:hover,
a.button:hover {
  background-color: transparent;
  color: $color-primary;
}



/*





button.secondary,
a.button.secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

button.secondary:hover,
a.button.secondary:hover {
  background-color: transparent;
  color: var(--color-secondary);
}

button.outline, 
a.button.outline {
  background-color: transparent;
  color: var(--color-primary);
}

button.outline:hover,
a.button.outline:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

button.outline.secondary,
a.button.outline.secondary {
  color: var(--color-secondary);
}

button.outline.secondary:hover,
a.button.outline.secondary:hover {
  background-color: var(--color-secondary);
}






*/