@font-face {
    font-family: 'Avenir-Next-Bold';
    src: url("./fonts/AvenirNextLTPro-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'Avenir-Next-It';
    src: url("./fonts/AvenirNextLTPro-It.otf") format('opentype');
}

@font-face {
    font-family: 'Avenir-Next-Regular';
    src: url("./fonts/AvenirNextLTPro-Regular.otf") format('opentype');
}
