@font-face {
    font-family: 'BwGradual-Bold';
    src: url("../fonts/subset-BwGradual-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'BwNistaInt-Bd';
    src: url("../fonts/subset-BwNistaInt-Bd.woff2") format('woff2');
}

@font-face {
    font-family: 'BwNistaInt-Rg';
    src: url("../fonts/subset-BwNistaInt-Rg.woff2") format('woff2');
}