*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

body {
    margin: 0;
}

.contacts {
    padding: 30px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;

}

.contacts .contact-address,
.contacts .contact-map {
    width: calc(50% - 20px)
}

.contact-address .shops-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* height: 100%; */
}

.contact-address .shops-list .shop-item {
    width: calc(50% - 15px);
    /* height: 50%; */
}

.contact-address .shops-list .shop-item .shop-item-description {
    /* border: solid 1px black; */
    padding: 15px;
    box-shadow: 1px 1px 5px gray;
}

.contact-map {
    /* background-color: blue; */
}