$color-black: blue;
$color-white: white;
$color-green: green;
$color-red: rgb(17, 182, 17);
$padding-10: 10px;
$padding-small: 10px;
$padding-20: 20px;
$padding-30: 30px;
$spacing-medium: 30px;
$spacing-30: 30px;
