*,
*::before,
*::after {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.button {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

.delete-button {
    background-color: rgba(201, 26, 26, 0.733);
}


body {
    background-color: lightgray
}

.max-width {
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
}

.student-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    .student-item {
        border: 2px solid black;
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px;
    }
}